{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
  {% for p in page.children %}
  {% set image = p.media.images|first %}
    <div class="card">
      <div class="hero-img bottom-inner-shadow"{% if image %}style="background-image: url('{{image.url}}')"{% endif %}></div>
      <div class="content">
        <h1 class="title">{{p.title}}</h1>
        <p>{{p.summary|raw}}</p>
        <div><a href="{{p.url}}">Read More</a></div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
