{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
		<div class="g-grid right">
			<div class="g-block">
				<div class="g-content">
					{{ dump(particle.start_date) }}
				</div>
			</div>
		</div>
{% endblock %}
