{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
{% if not page.header.hide_title %}
	<h1 class="page-heading">
    {% if particle.title %}
      {{particle.title}}
    {% else %}
      {{page.title}}
    {% endif %}
	</h1>
{% endif %}
{% endblock %}
