{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
	<div class="page-heading">
    <div class="container">
      {% if particle.title %}
        {{particle.title}}
      {% else %}
        {{page.title}}
      {% endif %}
    </div>
	</div>
{% endblock %}
