{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
	<aside class="announcements">
		<div class="title"><i class="fa fa-arrow-right"></i> Useful Links <i class="fa fa-arrow-left"></i></div><br>
		<ul>
      {% for p in particle.buttons %}
        <li><i class="fa {% if p.icon %}{{p.icon}}{% else %}fa-link{% endif %}"></i> <a href="{{p.url}}">{{p.title}}</a></li>
				{% if not loop.last%}<hr>{% endif %}
      {% endfor %}
    </ul>
	</aside>
{% endblock %}
