{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
	<aside class="announcements">
		<div class="title header"><i class="fa fa-sign-in"></i> Join Us!</div>
  	<div class="content">
		<ul>
      {% for p in particle.buttons %}
        <li><i class="fa {% if p.icon %}{{p.icon}}{% else %}fa-link{% endif %}"></i> <a href="{{p.url}}">{{p.title}}</a></li>
      {% endfor %}
    </ul>
		<div>
	</aside>
{% endblock %}
