{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
<ul class="social-buttons">
	 {% for sm in particle.buttons %}
			<a href="{{ sm.url }}"
				class="btn-floating {% if sm.class %}{{sm.class}}{% else %}red{% endif %}">
				<i class="fa {{sm.icon}} center-align"></i>
			</a>
	 {% endfor %}
</ul>
{% endblock %}
